@model IEnumerable<TekkenGame.Models.Personagens>

@{
    ViewBag.Title = "Personagens";
}

<h2>Conheça todas as personagens</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Criar nova personagem", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Fotografia)*@
            <a href="~/Personagens/Details/@item.ID">
                <img src="~/ImagemPers/@item.Fotografia" width="150" height="160" />
            </a>
        </td>

        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                <span>|</span>
                @Html.ActionLink("Apagar jogo", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
