@model TekkenGame.Models.Comentarios

@{
    ViewBag.Title = "Delete";
}

<style>
    body {
        background-image: url(../../Fundos/Fundo3.jpg);
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        font-family: 'Lucida Console';
        color: black;
        background-color: white;
        border: blue;
        border-radius: 12px;
        border: 2px solid #191970;
    }

        .button:hover {
            background-color: #D3D3D3
        }

        .button:active {
            background-color: #A9A9A9;
            transform: translateY(2px);
        }
</style>

<div style="font-family: 'Lucida Console'; text-align: left;color: white; font-size: 32px;font-weight: bold;margin-top: 50px;">Tem a certeza que pretende apagar este comentário?</div>

<div style="color:white; font-family:'Lucida Console'; font-size:15px;">
    <h4>Comentarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogo.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizadores.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizadores.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataComentario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            <button type="button" class="button" onclick="location.href='@Url.Action("Details","Jogos", new { ID = Model.JogoFK })'">Cancelar</button>
            
        </div>

    }
</div>
