@model TekkenGame.Models.Comentarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comentarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogo.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizadores.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizadores.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataComentario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
